%table.info_table
  %tr
    %th FV
    %th textid
  - SkillTree.all.each do |tree|
    %tr
      %td= tree.name
      %td= tree.textid


= simple_form_for @attribute do |f|
  -if @attribute.errors.any?
    #error_explanation
      %h2= "#{pluralize(@attribute.errors.count, "error")} prohibited this attribute from being saved:"
      %ul
        - @attribute.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :name, :label=>"Namn"
  .field
    = f.input :text_id, :label=>"Text-id"
  .field
    = f.input :show_for_gl, :label=>"Visa i spelledarens lista"
  .field
    = f.input :base_formula, :label=>"Basformel:",:hint=>" ({textid} hämtar FV för trädet 'textid'"
  .field
    =f.enum_select :output_type
    -#= f.input :output_type, :label=>"Typ", :as=>:enum_select
  .actions
    = f.submit 'Save'


