%h1 Listing attributes

%table
  %tr
    %th Name(text_id)
    %th Base formula
    %th
    %th
    %th

  - @attributes.each do |attribute|
    %tr
      %td #{attribute.name} (#{attribute.text_id})
      %td= attribute.base_formula
      %td= link_to 'Show', attribute
      %td= link_to 'Edit', edit_attribute_path(attribute)
      %td= link_to 'Destroy', attribute, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Attribute', new_attribute_path
