%p#notice= notice

%p
  %b Namn:
  = @attribute.name
%p
  %b Textid:
  = @attribute.text_id
%p
  %b Basvärde (formell):
  = @attribute.base_formula

-if @attribute.output_type == 1
  %p Visas som tärning

%p
  -if @attribute.show_for_gl?
    Visas i spelledarmenyn
  - else
    Visas inte i spelledarmenyn

= link_to 'Edit', edit_attribute_path(@attribute)
\|
= link_to 'Back', attributes_path
