%h1 Listing skills

#tree_list
  %ul
    - @skill_trees.each do |tree|
      %li
        %h3= tree.name
        %ul
          - (1..5).each do |level|
            %li
              %h4 Nivå #{level}
              %ul
                - tree.skills.level(level).each do |skill|
                  %li
                    = link_to skill.name, skill
                    |
                    = link_to 'Redigera', edit_skill_path(skill)

%br

= link_to 'New Skill', new_skill_path
