%h3 #{@skill.level}: #{@skill.name}
%p.small Tillhör trädet #{@skill.skill_tree.name}
%p.small
  = link_to "Redigera", edit_skill_path(@skill)
  = link_to "Ta bort", @skill, :confirm=>"Är du säker på att du vill ta bort färdigheten?", :method=>:delete
%p
  %strong Förkunskapskrav:
  - if @skill.dependency
    = link_to @skill.dependency, @skill.dependency
  - else
    -
%p
  = @skill.description
%p
  %b Attribut:
  = @skill.attribute
%p
  %b Formel:
  = @skill.formula

= link_to 'Edit', edit_skill_path(@skill)
\|
= link_to 'Back', skills_path
