%h3= @skill.to_s
%p.small Tillhör trädet #{@skill.skill_tree.name}
%p.small
  = link_to "Redigera", edit_skill_path(@skill)
  = link_to "Ta bort", @skill, :confirm=>"Är du säker på att du vill ta bort färdigheten?", :method=>:delete
%p
  %strong Förkunskapskrav:
  - if @skill.dependency
    = link_to @skill.dependency, @skill.dependency
  - else
    -
%p
  = @skill.description
%p
  %b Attribut:
  = @skill.attribute
%p
  %b Formel:
  = @skill.formula

= link_to 'Edit', edit_skill_path(@skill)
\|
= link_to 'Back', skills_path

%h4 Ge färdighet till karaktär
= simple_form_for CharacterSkill.new do |f|
  = f.association :character, :include_blank=>false, :label=>"Karaktär" , :collection=> Character.accessible_by(current_user)
  = f.input :skill_id, :as=>:hidden, :input_html=>{:value=>@skill.id}
  - if @skill.specialized?
    = f.input :specialization_id, :collection=>@skill.skill_tree.class_model.all, :include_blank=>false, :label=>@skill.skill_tree.class_model.model_name
  = f.submit "Lägg till"

