%tr.input
  %td= f.input :name, :label=>false
  %td= f.input :output_type, :label=>false, :collection => {"Sifferv채rde"=>:normal, "T채rning(ar)"=>:dice, "Spelrundor"=>:turns, "R채ckvidd"=>:turns, "Tid"=>:time}
  %td= f.input :value, :label=>false
  %td= f.association :attr, :label=>false, :prompt => "Ingen p책verkan"
  %td= link_to_remove_field "Radera", f
