= simple_form_for @spell do |f|
  -if @spell.errors.any?
    #error_explanation
      %h2= "#{pluralize(@spell.errors.count, "error")} prohibited this spell from being saved:"
      %ul
        - @spell.errors.full_messages.each do |msg|
          %li= msg

  .fields
    =f.input :name, :label=>"Namn"
    =f.input :description, :label=>"Beskrivning"
    =f.association :spell_tree, :label=>"Vitnertavla", :include_blank=>false
    =f.input :level, :label=>"Nivå"
    =f.input :spelltype, :label=>"Typ", :collection=>{"Ögonblicklig"=>:instant, "Bevarande"=>:sustained, "Bestående"=>:lasting, "Permanent"=>:permantent}, :include_blank=>false
  %p
    %strong Effekter
    %table
      %tr
        %th Namn
        %th Typ
        %th Värde
        %th Påverkas av attribut
        %th
      = f.simple_fields_for :effects do |fe|
        = render 'effect_fields', :f=>fe
    =link_to_add_fields "Lägg till effekt", f, :effects
  %p
    %strong Effektgrader
    %table
      %tr
        %th Kostnad
        %th Extra effektgrader
        %th Typ
        %th Påverkar effekt
        %th Formell
      = f.simple_fields_for :improvments do |fi|
        = render 'improvment_fields', :f=>fi
    =link_to_add_fields "Lägg till effektgrad", f, :improvments
  .actions
    = f.submit 'Save'
