%h2 "#{@spell.level}: #{@spell.name}"

%p
  = link_to 'Redigera', edit_spell_path(@spell)

%p
  %b Typ:
  = spell_type(@spell.spelltype)

!= @spell.description

%p
- @spell.effects.each do |e|
  %p
    %b #{e.name}:
    = output_value(e.output_type, e.value )
    = "(Påverkas av attribut #{e.attr.to_s.downcase})" if e.attr

%h3 Effektgrader

%table 
  %tr
    %th Kostnad
    %th Extra effektgrad
    %th Typ
    %th Effekt
    %th Formel
  - @spell.improvments.each do |i|
    %tr
      %td= i.cost
      %td= i.description
      %td= i.effect_type
      %td= i.spell_effect
      %td= i.formula
