= form_for @character_skill do |f|
  -if @character_skill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@character_skill.errors.count, "error")} prohibited this character_skill from being saved:"
      %ul
        - @character_skill.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :character_id
    = f.text_field :character_id
  .field
    = f.label :skill_id
    = f.text_field :skill_id
  .field
    = f.label :specialization_id
    = f.text_field :specialization_id
  .actions
    = f.submit 'Save'
