%h1 Vitnertavlor

#tree_list
  %ul
    - @spell_trees.each do |tree|
      %li
        %h3
          =link_to tree.name, '#', :class=>"toggler"
        %ul{:style=>"display: none;"}
          - tree.spells.each do |spell|
            %li
              = link_to "#{spell.level}: #{spell.name}", spell
              |
              = link_to 'Redigera', edit_spell_path(spell)

%br

= link_to 'Ny vitner', new_spell_path

:javascript
  $("a.toggler").click(function() {
    $(this.parentNode.parentNode).children("ul").toggle('fast')
    return false
  })
