%h3= @spell_tree.name

!= @spell_tree.description

%h4 Negationer
!=@spell_tree.negations

%h4 Vitner
!=@spell_tree.vitner

%p
  %b Hvitaliavitner:
  = @spell_tree.hvita_effect
%p
  %b Vaagrivitner:
  = @spell_tree.vaagri_effect
%p
  %b Morkvitalja:
  = @spell_tree.mork_effect

= link_to 'Edit', edit_spell_tree_path(@spell_tree)
\|
= link_to 'Back', spell_trees_path
